.actionButton {
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  padding: 15px 20px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 15px -5px rgba(0, 0, 0, 0.2);
  &:hover {
    top: 1px;
    left: 1px;
  }
  &:disabled {
    opacity: 0.5;
  }
}
